@model Core3Test10_linh.Models.Linh

@{
    ViewBag.Title = "Linh Deatils";
}

<h2>Linh Details</h2>
<label> Name: </label>@Model.Name<br />
<label> Age: </label>@Model.Age<br />
<label> Car: </label>@Model.Car<br />
<label> CarYear: </label>@Model.CarYear<br />

